header.header
    a(href="index.html")
        img(src="assets/img/logo-platzi-video-BW2.png", alt="logo").header__img
    .header__menu
        .header__menu--profile
            img(src="assets/icons/user-icon.png", alt="user")
            p Perfil
        ul
            li
                a(href="login.html") Iniciar sesión