<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet", href="assets/css/login.css")
    body
        include components/header/header.pug
        include components/forms/login/login.pug
        include components/footer/footer.pug
        script(src="https://code.iconify.design/1/1.0.7/iconify.min.js")