section.carousel
    .carousel__container
        .carousel-item
            img(src="https://images.pexels.com/photos/789822/pexels-photo-789822.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="").carousel-item__img
            .carousel-item__details
                div
                    span(data-icon="ant-design:play-circle-filled" data-inline="false").iconify
                    span(data-icon="ant-design:plus-circle-filled" data-inline="false").iconify
            p.carousel-item__details--title Título descriptivo
            p.carousel-item__details--subtitle 2019 16+ 114 minutos
        .carousel-item
            img(src="https://images.pexels.com/photos/1427741/pexels-photo-1427741.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="").carousel-item__img
            .carousel-item__details
                div
                    span(data-icon="ant-design:play-circle-filled" data-inline="false").iconify
                    span(data-icon="ant-design:plus-circle-filled" data-inline="false").iconify
            p.carousel-item__details--title Título descriptivo
            p.carousel-item__details--subtitle 2019 16+ 114 minutos
        .carousel-item
            img(src="https://images.pexels.com/photos/705792/pexels-photo-705792.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500", alt="").carousel-item__img
            .carousel-item__details
                div
                    span(data-icon="ant-design:play-circle-filled" data-inline="false").iconify
                    span(data-icon="ant-design:plus-circle-filled" data-inline="false").iconify
            p.carousel-item__details--title Título descriptivo
            p.carousel-item__details--subtitle 2019 16+ 114 minutos
        .carousel-item
            img(src="https://images.pexels.com/photos/904276/pexels-photo-904276.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500", alt="").carousel-item__img
            .carousel-item__details
                div
                    span(data-icon="ant-design:play-circle-filled" data-inline="false").iconify
                    span(data-icon="ant-design:plus-circle-filled" data-inline="false").iconify
            p.carousel-item__details--title Título descriptivo
            p.carousel-item__details--subtitle 2019 16+ 114 minutos
        .carousel-item
            img(src="https://images.pexels.com/photos/904276/pexels-photo-904276.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500", alt="").carousel-item__img
            .carousel-item__details
                div
                    span(data-icon="ant-design:play-circle-filled" data-inline="false").iconify
                    span(data-icon="ant-design:plus-circle-filled" data-inline="false").iconify
            p.carousel-item__details--title Título descriptivo
            p.carousel-item__details--subtitle 2019 16+ 114 minutos
        .carousel-item
            img(src="https://images.pexels.com/photos/1172207/pexels-photo-1172207.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&w=500", alt="").carousel-item__img
            .carousel-item__details
                div
                    span(data-icon="ant-design:play-circle-filled" data-inline="false").iconify
                    span(data-icon="ant-design:plus-circle-filled" data-inline="false").iconify
            p.carousel-item__details--title Título descriptivo
            p.carousel-item__details--subtitle 2019 16+ 114 minutos