



  .button{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px ;
    color: $color-primary;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    font-family: $font-family_primary;
    border: none;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
  }


