
  .register{
      
    @extend .flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    min-height: calc(100vh - 200px);
  }

  .register__container{
      background-color: rgba(255, 255, 255, 0.1) ;
      border: 2px solid $color-primary;
      border-radius: 40px;
      color: $color-primary;
      padding: 60px 68px 40px;
      min-height: 700px;
      /* width: 300px; */
      width: 50%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
  }

  .register__container--form{
      display: flex;
      flex-direction: column;
  }

  .input{
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $color-primary;
      font-family: $font-family_primary;
      font-size: 16px;
      margin-bottom: 20px;
      padding: 10px;
      outline: none;
      height: 50px;
  }

  input::placeholder{
      color: $color-primary;
  }

  a{
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
  }

  a:hover{
    text-decoration: underline;
  }



    /* MediaQueries */

    @media only screen and (max-width: 600px){
        .register__container{
          background-color: transparent;
          border: none;
          padding: 0;
          width: 100%;
        }
      }