section.register
    .register__container
        h2 Registrate
        form.register__container--form
            input(type="text" placeholder="Nombre").input
            input(type="mail" placeholder="Correo").input
            input(type="password" placeholder="Contraseña").input
            button.button Registrarme
        a(href="login.html") Iniciar sesión